html,body,h1,h2,h3,h4,h5,p,div,a,ul,li,section{
	margin:0;
	padding:0;
	list-style:none;
}


/* Basic layout */
/* Ignore this */
section{
	margin:20px 0;
	padding:20px 0;
	clear:both;
	border-bottom:1px solid rgb(200,200,200);
}
header{
	margin:20px 0;
}
.examples{
	display:flex;
	min-height:100px;
	align-items:center;
}
	.examples .color-chip{
		width:50px;
		height:30px;
		border:1px solid white;
	}
#sub{
	font-size:14px;
	width:60%;
	padding:0 0 20px 0;
}

.axis .domain{
	fill:none;
}

.container .canvas{
	width:100%;
	height: 2500px;
	position: relative;
	background: none;
	margin: 20px 0 0 0;
	border-top:1px;
}



.price-breakout{
	border-left:1px solid gray;
	margin-left:20px; 
	padding-left:20px; 
}

/*-------tooltip-------*/

.canvas .custom-tooltip{
    position:absolute;
    /*border:1px solid gray;*/
    background:white;
    border:1px solid gray;
    padding-left:10px;
    padding-top:20px;
    width:150px;
    min-height:10px;
    font-size:30pt;
    line-height:50%;
 }
 .canvas .custom-tooltip #town{
 	font-size:12pt;
 }
/* ---------button removal stuff------------ */


.remove{
	display:none;
}

.show{
	display:block;

}



/* ---------fonts------------ */

body{
	font-family:'Avenir', sans-serif;
	font-size:18px;
	background:rgb(250,250,250);
}
h1,h2,h3,h4{
	margin:0 0 10px;
	font-weight:heavy;
}
p{ font-size:1em; margin:0 0 10px; }
.serif h1, .serif h2, .serif p{
	font-family:'Publico', serif;
}
.extra{ 
	font-size:42px;
	text-transform: none;
}

.legend{
	position:relative;
	float:left;
	padding-left:20px;
	font-size:11pt;
}

.controls{
	position:relative;
	float:left;
	text-align:right;
}

/* ---------slider stuff------------ */


p {
  color: black;
}

a {
  color: black;
}

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: rgb(234,234,229);
  stroke-width: 4px;
}

.slider .handle path {
  stroke: rgb(180,180,180);
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: black;
  text-align: center;
  font-size: 18px;
}







/* colors */
.meta{
	color:rgb(180,180,180);
}
.color-chip#background{ background-color:rgb(250,250,250);}
.color-chip#text{ background-color:rgb(50,50,50);}
.color-chip#red{ background-color:#fd6b5a;}
.color-chip#green{ background-color:#06ce98;}
.color-chip#blue{ background-color:#2175bc;}


@font-face{
	font-family:MaisonNeue;
	font-weight:bold;
	src:url("./assets/fonts/maisonneue/MaisonNeueTRIAL-Bold.otf");
}
@font-face{
	font-family:MaisonNeue;
	font-weight:normal;
	src:url("./assets/fonts/maisonneue/MaisonNeueTRIAL-Demi.otf");
}
@font-face{
	font-family:Publico;
	font-weight:normal;
	src:url("./assets/fonts/publico/PublicoText-Roman-Web.woff");
}
@font-face{
	font-family:Publico;
	font-weight:bold;
	src:url("./assets/fonts/publico/PublicoText-Bold-Web.woff");
}

